;
; BIND reverse data file for local loopback interface
;
$TTL    604800
@       IN      SOA     {{ inventory_hostname }}. root.localhost. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      {{ ansible_hostname }}.
{% for rec in ptr_records %}
{{ rec.name }} {{rec.INOUT}}      {{rec.type}} {{rec.content}}.
{% endfor %}
